@import "../_base/base.module";

.about {
	& p,
	& h3 {
		margin-left: 32px;
		margin-right: 32px;
		margin-bottom: 16px;
	}
}

.aboutSection {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding-bottom: 64px;

	& img {
		width: 45%;
		height: 25%;
	}

	@include breakpoint-min($screen-m) {
		& img {
			padding-top: 72px;
		}
	}

	@include breakpoint-max($screen-s) {
		flex-direction: column;
		align-items: center;

		& img {
			width: 100%;
		}
	}
}
